version: '3.5'
services:
  global-nginx-proxy:
    image: jwilder/nginx-proxy
    restart: ${RESTART:-unless-stopped}
    ports:
      - "${HTTP_PORT:-80}:80"
      - "${HTTPS_PORT:-443}:443"
    environment:
      - HSTS=off
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./.docker/config/global-nginx-proxy/additional_nginx.conf:/etc/nginx/conf.d/additional_nginx.conf
      - ./.docker/data/global-nginx-proxy/certs:/etc/nginx/certs:ro
      - ./.docker/data/global-nginx-proxy/dhparam:/etc/nginx/dhparam
    labels:
      - com.github.kanti.local_https.nginx_proxy=true

  global-db:
    image: mysql:5.7
    restart: ${RESTART:-unless-stopped}
    ports:
      - "${DB_PORT:-3306}:3306"
    volumes:
      - ./.docker/data/global-db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --max-allowed-packet=16MB --sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

  global-db-v8:
    image: mysql:8.0
    restart: ${RESTART:-unless-stopped}
    ports:
      - "${DB_V8_PORT:-3308}:3306"
    volumes:
      - ./.docker/data/global-db-v8:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --max-allowed-packet=16MB --sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

  global-mail:
    image: mailhog/mailhog
    restart: ${RESTART:-unless-stopped}
    ports:
      - "${SMTP_PORT:-1025}:1025"
    environment:
      - VIRTUAL_HOST=mail.${TLD_DOMAIN:?needed}
      - VIRTUAL_PORT=8025

  global-portainer:
    image: portainer/portainer
    restart: ${RESTART:-unless-stopped}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.docker/data/global-portainer:/data
    environment:
      - VIRTUAL_HOST=portainer.${TLD_DOMAIN:?needed}
    command: --no-auth

  global-letsencrypt:
    image: kanti/local-https
    restart: ${RESTART:-unless-stopped}
    depends_on:
      - global-nginx-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.docker/data/global-letsencrypt:/etc/letsencrypt
      - ./.docker/data/global-nginx-proxy/certs:/etc/nginx/certs
    environment:
      - DNS_CLOUDFLARE_EMAIL=${DNS_CLOUDFLARE_EMAIL:?must be set}
      - DNS_CLOUDFLARE_API_KEY=${DNS_CLOUDFLARE_API_KEY:?must be set}
      - HTTPS_MAIN_DOMAIN=${HTTPS_MAIN_DOMAIN:?must be set}
      - SLACK_TOKEN=${SLACK_TOKEN:-}

  global-xhgui:
    image: edyan/xhgui
    restart: ${RESTART:-unless-stopped}
    environment:
      - VIRTUAL_HOST=xhgui.${TLD_DOMAIN:?needed}
    volumes:
    - ./.docker/data/global-xhgui:/data/db
    networks:
      - default

networks:
  default:
    external:
      name: global
